<!DOCTYPE html>
<html>
  <head>
    <title>Untappt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.phoneURL = "<%= image_url('phone_img.png') %>"
      window.beerBg = "<%= image_url('beer-bg.jpg') %>"
      window.beerProfile = "<%= image_url('beer-profile.jpg') %>"
      window.profileBg = "<%= image_url('profile-bg-img.jpg') %>"
      window.fakeDemo1 = "<%= image_url('fake-data-image1.jpg') %>"
      window.fakeDemo2 = "<%= image_url('fake-data-image2.jpg') %>"
      window.fakeDemo3 = "<%= image_url('fake-data-image3.jpg') %>"
      window.fakeDemo4 = "<%= image_url('fake-data-image4.png') %>"
      window.fakeDemo5 = "<%= image_url('fake-data-image5.jpg') %>"
      window.brewery_index = "<%= image_url('brewery-index-img.jpg') %>"
      window.brew_claimed = "<%= image_url('brew_claimed_icon.png') %>"
      window.brew_photo_1 = "<%= image_url('brew_photo_1.jpg') %>"
      window.brew_photo_2 = "<%= image_url('brew_photo_2.jpg') %>"
      window.brew_photo_3 = "<%= image_url('brew_photo_3.jpg') %>"
      window.brew_photo_4 = "<%= image_url('brew_photo_4.jpg') %>"
      window.brew_photo_5 = "<%= image_url('brew_photo_5.jpg') %>"
      window.comment_icon = "<%= image_url('comment_btn_img.png') %>"
      window.toast_icon = "<%= image_url('toast_btn_img.png') %>"
    </script>
    
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
          crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
