<!DOCTYPE html>
<html>
  <head>
    <title>Untappt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.phoneURL = "<%= image_url('phone_img.png') %>"
      window.beerBg = "<%= image_url('beer-bg.jpg') %>"
      window.beerProfile = "<%= image_url('beer-profile.jpg') %>"
      window.profileBg = "<%= image_url('profile-bg-img.jpg') %>"
      window.fakeDemo = "<%= image_url('fake-data-beer-photo.jpg') %>"
      window.fakeDemo2 = "<%= image_url('harpoon-ipa.jpg') %>"
      window.brewery_index = "<%= image_url('brewery-index-img.jpg') %>"
      window.brew_claimed = "<%= image_url('brew_claimed_icon.png') %>"
      window.brew_photo_1 = "<%= image_url('brew_photo_1.jpg') %>"
      window.brew_photo_2 = "<%= image_url('brew_photo_2.jpg') %>"
      window.brew_photo_3 = "<%= image_url('brew_photo_3.jpg') %>"
      window.brew_photo_4 = "<%= image_url('brew_photo_4.jpg') %>"
      window.brew_photo_5 = "<%= image_url('brew_photo_5.jpg') %>"
    </script>
<!--
    <link rel="shortcut icon" href="https://store-images.s-microsoft.com/image/apps.53495.9007199266279309.8218b1d2-b66f-4425-98f3-c419e3483da7.0379ac6a-2fbf-4a52-bde7-18ad9687c54e?mode=scale&q=90&h=300&w=300" type="image/x-icon">
    -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
         integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
